<!DOCTYPE html>
<html lang="en-ca">
    
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{page.title}} • {% endif %} Christianne McPartland Portfolio</title>
        <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{site.baseurl}}/css/grids.css">
        <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    
    </head>
    
    
    
    
    
    <body>
    <main>